*, :before, :after {
    margin: 0;
    box-sizing: border-box;
}

#root{
    --green: #5FD068;
    --dark-green: #4B8673;
    --light-green: #66a694;
    --light-brown: #F5DF99;
    --light-gray: #F6FBF4;
    --navy: #293462;
    --light-red:#FF5D5D;
    font-family: 'Raleway', sans-serif;
}